flow.txt
[{"id":"d67b89e7.135ed8","type":"mqtt-broker","z":"c1b13e80.0b833","broker":"m10.cloudmqtt.com","port":"13065","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"ca66688a.6309c8","type":"mqtt-broker","z":"c1b13e80.0b833","broker":"m10.cloudmqtt.com","port":"13065","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"19648fb6.c3674","type":"OpenADR","z":"c1b13e80.0b833","name":"myven","url":"http://127.0.0.1:7070/","rate":"1","ven_id":"piyu123","ven_profile":"B","x":457.11114501953125,"y":412.7738952636719,"wires":[["1654d9c7.dd9186","284ff0a9.9a50e","7fdf3033.7e213","7e952bdc.2c8b44"]]},{"id":"21ec74e4.8ba21c","type":"jsonpath","z":"c1b13e80.0b833","expression":"CurrentValue[1]","split":false,"name":"eiEventSignals[1]","x":941.6626586914062,"y":272.1587829589844,"wires":[["59048263.6b6dfc","220653c2.35cc8c"]]},{"id":"59048263.6b6dfc","type":"debug","z":"c1b13e80.0b833","name":"current Price","active":true,"console":"false","complete":"payload","x":1159.08740234375,"y":227.09140014648438,"wires":[]},{"id":"19c801bf.7958ce","type":"file","z":"c1b13e80.0b833","name":"","filename":"ven_output.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":761.0794067382812,"y":555.8888292312622,"wires":[]},{"id":"4adde545.7b2b9c","type":"function","z":"c1b13e80.0b833","name":"auto_opt","func":"if (msg.payload ==1){\n    var opt= '<?xml version=\"1.0\" encoding=\"utf-8\"?> <oadrPayload xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://openadr.org/oadr-2.0b/2012/07\">   <oadrSignedObject>     <oadrCreateOpt d3p1:schemaVersion=\"2.0b\" xmlns:d3p1=\"http://docs.oasis-open.org/ns/energyinterop/201110\">       <d3p1:optID>a220ef0ba1</d3p1:optID>       <d3p1:optType>optIn</d3p1:optType>       <d3p1:optReason>economic</d3p1:optReason>       <marketContext xmlns=\"http://docs.oasis-open.org/ns/emix/2011/06\" />       <d3p1:venID>531150bf935f705366ca</d3p1:venID>       <vavailability xmlns=\"urn:ietf:params:xml:ns:icalendar-2.0\">         <components>           <available>             <properties>               <dtstart>                 <date-time>2016-07-13T19:14:00Z</date-time>               </dtstart>               <duration>                 <duration>PT5M</duration>               </duration>             </properties>           </available>         </components>       </vavailability>       <d3p1:createdDateTime>'+new Date().toISOString()+'</d3p1:createdDateTime>       <requestID xmlns=\"http://docs.oasis-open.org/ns/energyinterop/201110/payloads\">8add0bd9de</requestID>     </oadrCreateOpt>   </oadrSignedObject> </oadrPayload>'\n}\nelse {\n    var opt = '<?xml version=\"1.0\" encoding=\"utf-8\"?> <oadrPayload xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://openadr.org/oadr-2.0b/2012/07\">   <oadrSignedObject>     <oadrCreateOpt d3p1:schemaVersion=\"2.0b\" xmlns:d3p1=\"http://docs.oasis-open.org/ns/energyinterop/201110\">       <d3p1:optID>a220ef0ba1</d3p1:optID>       <d3p1:optType>optOut</d3p1:optType>       <d3p1:optReason>economic</d3p1:optReason>       <marketContext xmlns=\"http://docs.oasis-open.org/ns/emix/2011/06\" />       <d3p1:venID>531150bf935f705366ca</d3p1:venID>       <vavailability xmlns=\"urn:ietf:params:xml:ns:icalendar-2.0\">         <components>           <available>             <properties>               <dtstart>                 <date-time>2016-07-13T19:14:00Z</date-time>               </dtstart>               <duration>                 <duration>PT5M</duration>               </duration>             </properties>           </available>         </components>       </vavailability>       <d3p1:createdDateTime>'+new Date().toISOString()+'</d3p1:createdDateTime>       <requestID xmlns=\"http://docs.oasis-open.org/ns/energyinterop/201110/payloads\">8add0bd9de</requestID>     </oadrCreateOpt>   </oadrSignedObject> </oadrPayload>'\n}\nmsg.payload=opt;\nreturn msg;","outputs":1,"noerr":0,"x":306.85711669921875,"y":412.33331298828125,"wires":[["19648fb6.c3674"]]},{"id":"1654d9c7.dd9186","type":"debug","z":"c1b13e80.0b833","name":"eiEventSignals","active":false,"console":"false","complete":"all_data","x":692.8572082519531,"y":179.88888907432556,"wires":[]},{"id":"284ff0a9.9a50e","type":"function","z":"c1b13e80.0b833","name":"current price","func":"var a= msg.all_data\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":690.6348876953125,"y":271.5555419921875,"wires":[["21ec74e4.8ba21c"]]},{"id":"13d8e1b6.d5574e","type":"debug","z":"c1b13e80.0b833","name":"forecast","active":true,"console":"false","complete":"payload","x":974.41259765625,"y":372.33331298828125,"wires":[]},{"id":"7fdf3033.7e213","type":"xml","z":"c1b13e80.0b833","name":"","attr":"","chr":"","x":593.8571662902832,"y":556.5555028915405,"wires":[["19c801bf.7958ce"]]},{"id":"7e952bdc.2c8b44","type":"unsafe-function","z":"c1b13e80.0b833","name":"forecast data extract","func":"var body=msg.payload;\nvar xpath = require('xpath')\nvar dom = require('xmldom').DOMParser\n\nvar doc = new dom().parseFromString(body)\n\n\n\t\t\t\t\t\tvar array_value=[];\n\t\t\t\t\t\tfor(var i=0;i<50;i++){\n\t\t\t\t\t\t\n\t\t\t\t\t\tvar value = xpath.select(\"//*[local-name(.)='eiEvent']/*[local-name(.)='eiEventSignals']/*[local-name(.)='eiEventSignal']/*[local-name(.)='intervals']/*[local-name(.)='interval']/*[local-name(.)='signalPayload']/*[local-name(.)='payloadFloat']/*[local-name(.)='value']/text()\", doc)[i]\n\t\t\t\t\t\t\n\t\t\t\t\t\tarray_value.push('\"' + value + '\"');\n\t\t\t\t\t\t\n\t\t\t\t\t\tif (value===undefined){ break;}\n\t\t\t\t\t\t\n\t\t\t\t\t\t}\n\t\t\t\t\t\t\n\nvar msg = { payload:'{\"ForecastValue\":['+array_value +']}'}\n\nreturn msg;","outputs":1,"noerr":0,"x":684.8571166992188,"y":449.33331298828125,"wires":[["13d8e1b6.d5574e","167188be.248987","c461de78.08db2"]]},{"id":"167188be.248987","type":"mqtt out","z":"c1b13e80.0b833","name":"forecast","topic":"forecast","qos":"","retain":"","broker":"ca66688a.6309c8","x":1012,"y":432,"wires":[]},{"id":"220653c2.35cc8c","type":"mqtt out","z":"c1b13e80.0b833","name":"current_price","topic":"current_price","qos":"","retain":"","broker":"ca66688a.6309c8","x":1165,"y":292,"wires":[]},{"id":"4bf3d5eb.21a39c","type":"debug","z":"c1b13e80.0b833","name":"c_rate(B)","active":true,"console":"false","complete":"payload","x":1212,"y":551,"wires":[]},{"id":"c461de78.08db2","type":"unsafe-function","z":"c1b13e80.0b833","name":"C_rate","func":"require('pyextjs');\n\nvar body=msg.payload;\nAmp_max=30;\n\n//prompt='When will you unplug the vehicle (for Today enter 1),(for Tomorrow enter 2)?';\nday_unplug=1;\n//prompt='When will you unplug the vehicle (ex. enter 17 if want to unplug at 17:35)?';\nt_unplug=23;\n\nif (day_unplug==1){\t\n    P_forecast=body.slice(17,161)+']';\n    t=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23];\t\n}\nelse{\n    P_forecast=msg.payload= body.slice(17,300)+']';\n    t=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46];\n    t_unplug=t_unplug+24;\n}\n\nvar P_forecast = JSON.parse(P_forecast);\n\n//console.log(\"bbbbbbbbbbbbbbbbbbbb\")\n//console.log(P_forecast)\n    t_now=Date()[16]+Date()[17];\n    P_forecast_calc=P_forecast.slice(t_now,1+t_unplug+1);\n    Price_now=body.slice(301,304);\n    P_forecast_calc[0]=Price_now;\nP_forecast_calc = P_forecast_calc.map(Number);    \nvar max= Math.max.apply(null,P_forecast_calc)\nvar min = Math.min.apply(null,P_forecast_calc)\n//console.log(Price_now)\n//console.log(P_forecast_calc)\n//console.log(\"Max\")\n//console.log(max)\n//console.log(min)\n\ncharge_rate=((-1*Price_now)+((max+min)))*(Amp_max/max);\n    \n\n//console.log(\"Charging Current in A\");\n//console.log(charge_rate);\n\n//console.log(\"t_now\");\n//console.log(t_now);\n\n//console.log(\"bbbbbbbbbbbbbbb\")\n        if (charge_rate<=0){\n            c_rate=0}\n        else if (charge_rate>Amp_max){\n            c_rate=Amp_max}\n        else{\n            c_rate=charge_rate}\n\nmsg.payload= c_rate;\n\nreturn msg;","outputs":1,"noerr":0,"x":996,"y":541,"wires":[["f2ff12b3.78307","770871d3.4ccd7","4bf3d5eb.21a39c"]]},{"id":"f2ff12b3.78307","type":"function","z":"c1b13e80.0b833","name":"opt","func":"var a=msg.payload;\n\nif (a===0){\n    var out =0;\n}\nelse{\n    out =1;\n}\n\nmsg.payload =out;\nreturn msg;","outputs":1,"noerr":0,"x":1192,"y":641,"wires":[["9592b677.4a6ea8"]]},{"id":"9592b677.4a6ea8","type":"mqtt out","z":"c1b13e80.0b833","name":"","topic":"Opt","qos":"","retain":"","broker":"d67b89e7.135ed8","x":1393.0318603515625,"y":623.5238037109375,"wires":[]},{"id":"770871d3.4ccd7","type":"file","z":"c1b13e80.0b833","name":"","filename":"c_rate.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1208,"y":480,"wires":[]},{"id":"d1400801.bd3928","type":"mqtt in","z":"c1b13e80.0b833","name":"","topic":"Opt","broker":"ca66688a.6309c8","x":120.57142639160156,"y":413,"wires":[["4adde545.7b2b9c"]]}]